<div class="top-wrapper text-center">
  <div class="container about-container">
    <h1 class="text-white">about <span class="text-bold">kuroset</span></h1>
    <p class ="text-white">黒が好きな人のためのSNS<br>服、小物、家具など<br>たくさんの黒アイテムを共有しましょう</p>
    
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '- Sign up -', new_user_path, class: 'btn-block btn' %>
      </div>
      <div class=" col-md-3">
        <%= link_to '- Log in -', login_path,class: 'btn-block btn' %>
      </div>
    </div>
  </div>
</div>