<div class="top-wrapper text-center">
  <div class="container top-container">
    <h1 class="text-white">welcome to <span class="text-bold">kuroset</span></h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '- Sign up -', new_user_path, class: 'btn-block btn' %>
      </div>
      <div class="col-md-3">
        <%= link_to '- Log in -', login_path,class: 'btn-block btn' %>
      </div>
    </div>
  </div>
</div>